@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
 body{
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
 }
 body::-webkit-scrollbar{
   width: 7px;
   background-color: white;
 }
 body::-webkit-scrollbar-thumb{
   background-color: #ea9234;
   border-radius: 10px;
 }
 body::-webkit-scrollbar-track{
  width: 10px;
 }